.menu-category {
    margin-bottom: 40px;
}

.menu-item {
    margin-bottom: 20px;
}

.menu-item img {
    border-radius: 5px;
    transition: transform 0.2s;
}

.menu-item img:hover {
    transform: scale(1.1); /* Simple hover effect */
}

.menu-item img {
    transform: scale(1.15); /* Scale the image by 15% */
    transition: transform 0.3s ease; /* Optional smooth transition */
}


/* Meal Detail View */
#mealDetail img {
    max-width: 100%;
    border-radius: 10px;
}
